# Compiled Object files
src/*.o
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
lib/*.*
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ctags files
.tags*


# Unwanted files
.cproject
.project
.settings/

